.Contact-container {
    height: auto;
    min-height: 100vh;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("./Assets/IMG5.jpg");
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
}
.Contact-icons{
  position:fixed;
  display: flex;
  width: 250px;
  height: 300px;
  border-radius:10px;
  box-shadow:2px 2px 10px rgba(0, 0, 0, 0.9);
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.Contact-icons-title{
  flex:1;
  font-size: 2rem;
  display:flex;
  flex-direction: column;
  padding:10px;
  justify-content:center;
  align-items:center;
  font-weight: 900;
}
.Contact-icons-content{
  display:flex;
  justify-content:space-around;
  align-items:center;
  flex:1;
  font-size: 3rem;
  font-weight: 900;
}
.Contact-icon{
  cursor:pointer;
  transition: all 0.5s;
}
.Contact-icon:hover{
  transform: translateY(-10px);
}