@import "./MainContainer";
.Footer-container {
  height: $footer-height;
  width: 100%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  display: flex;
  background-color: black;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.Footer-container > h1 {
  color: white !important;
}
.Footer-item-active {
  background-color: white;
  color: black !important;
  transition: background-color 0.3s;
}
.Footer-item {
  color: white;
  flex: 1;
  font-size: 1rem;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  transition: transform 0.3s;
}
.Footer-item:hover {
  color: white;
  transform: translateY(1px);
}
