@import './Base/base';
@import './Base/settings';

.container{
    background-color:$primary;
    color:white;
    padding-top:100px;
    padding-left:20px;
    padding-right: 20px;
    padding-bottom:20px;
    margin-left: $side-menu-width;
    width: $content-width;
}
.container>div>h1{
    color:white;
}
.Menu{
    height: 100vh;
    width: $side-menu-width;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top:20px;
    padding-bottom:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu-item:hover{
    border-top: solid 2px $light-grey;
    border-bottom: solid 2px $light-grey;
    color: white;
    background:$dark-grey;
}
.menu-item{
    border-top: solid 2px #111;
    border-bottom: solid 2px #111;
    transition: color 0.2s,background 0.2s,border-top 0.2s,border-bottom 0.2s;
}

.navLink{
    background:$dark-grey;
}


.Navbar{
    overflow: hidden;
    background-color: #111;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    width:100vw;
}

.Footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: #111;
    color: white;
    display: flex;
    justify-content: space-between;

}

.Footer-item{
    padding-top:20px;
    padding-bottom:20px;
    display:flex;
    flex-direction: column;
    flex:1;
    align-items: center;
}
.Menu,.Footer,.Navbar>h1,a{
    color:white;
}
.projects-container{
    margin-bottom: 100px;
}
@media(max-width:900px){
    .container{
        overflow-x: hidden;
        margin-left:0;
        width:100vw;
        padding:20px;
        min-height: 100vh;
    }
}

.example-box{
    margin:20px auto;
    border: solid;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
//DashBoard
.pageHeader{
    background: #333333;
    box-shadow: 2px 2px 10px rgba(0,0,0,.20);
}
.transferComponent{
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,.20);
}
.pageBody{
    background: #212121;
    overflow-y: hidden;
}
.transfer{
    margin:20px auto;
    display:flex;
    align-items:center;
    flex-flow:column;
}

